@using Lib.Web.Mvc.JQuery.JqGrid
@using NeuCMS.Models
@using NeuCMS.HtmlHelpers
@{
    var grid = new JqGridHelper<NameSpaceGridModel>(
        new JqGridOptions<NameSpaceGridModel>("namespaces")
            {
                Caption = "NameSpaces",
                DataType = Lib.Web.Mvc.JQuery.JqGrid.JqGridDataTypes.Json,
                FooterEnabled = true,
                MethodType = Lib.Web.Mvc.JQuery.JqGrid.JqGridMethodTypes.Post,
                Pager = true,
                RowsList = new List<int> {10, 20, 30, 40, 50},
                RowsNumber = 10,
                SortingName = "Id",
                SortingOrder = JqGridSortingOrders.Asc,
                Url = Url.Action("NameSpaces"),
                UserDataOnFooter = true,
                ViewRecords = true,
                OnSelectRow = "rowSelected"
            })
        .Navigator(
            options: new JqGridNavigatorOptions() {Add = true, Delete = false, Edit = false, Search = false, Refresh = false, AddFunction = "addNameSpace"}
        );
}

@section JavaScript
{
    <script type="text/javascript">
        $(document).ready(function() {
            @grid.GetJavaScript();
            $("#editNamespaceDiv").jqm({modal:true});
        });

    var lastSelected;
    function rowSelected(id) {
        $.get("@Url.Action("EditNameSpace")" + "?id=" + id, function(data) {
            $('#formData').replaceWith(data);
            $("#editNamespaceDiv").jqmShow();
        });
        
        $('#namespaces').jqGrid('resetSelection');
    }

    function addNameSpace() {
        $.get("@Url.Action("EditNameSpace")" + "?id=0", function(data) {
            $('#formData').replaceWith(data);
            $("#editNamespaceDiv").jqmShow();
        });
        
        $('#namespaces').jqGrid('resetSelection');
    }    
    </script>
}
@grid.GetHtml()
<div id="namespaceDetail">
    @Html.BeginJQModal("editNamespaceDiv","NameSpace")
    <div id="formData"></div>
    @Html.EndJQMOdal()
</div>
