<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jqGrid/jquery-ui-jqgrid.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.locale-en-4.3.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid-4.3.1.min.js")" type="text/javascript"></script>
    <script language="javascript">
        jQuery(document).ready(function ($) {
            // Accordion
            $('#neucms-navigation > ul > li > a.expanded + ul').slideToggle('medium');
            $('#neucms-navigation > ul > li > a').click(function () {
                $('#neucms-navigation > ul> li > a.expanded').not(this).toggleClass('expanded').toggleClass('collapsed').parent().find('> ul').slideToggle('medium');
                $(this).toggleClass('expanded').toggleClass('collapsed').parent().find('> ul').slideToggle('medium');
            });

            $('#neucms-navigation a').click(function () {
                if ($(this).parent().has('ul').size() == 0) {
                    $('#neucms-navigation a.active').toggleClass('active').toggleClass('inactive');
                    $(this).toggleClass('inactive').toggleClass('active');
                }
            });

            $("#neucms-navigation a[href='@Request.Path']").toggleClass('inactive').toggleClass('active');
            if ($("#neucms-navigation a[href='@Request.Path']").parents('li').size() > 1) {
                $("#neucms-navigation a[href='@Request.Path']").parent().parent().parent().children('a').toggleClass('expanded').toggleClass('collapsed').parent().find('> ul').show();
            }
        });
    </script>
    @RenderSection("JavaScript", false)
</head>
<body>
    <div class="page">
        <header>
            <div>
                <div class="neucms-header">
                    <div class="neucms-logo">
                        <img src="@Url.Content("~/Content/images/Logo.png")" alt="NeuCMS"/>
                    </div>
                </div>
            </div>
        </header>
        <section class="neucms-sidebar-bg">
            <div id="neucms-sidebar">
                <div id="neucms-navigation">
                    <ul>
                        <li><a href="@Url.Content("~")" class="icon-home inactive">Home</a></li>
                        <li><a href="#" class="icon-content collapsed inactive">Content</a>
                            <ul>
                                <li><a href="@Url.Content("~/ContentElements")" class="inactive">Content Elements</a></li>
                                <li><a href="@Url.Content("~/MediaElements")" class="inactive">Media Elements</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="icon-configure collapsed inactive">Configure</a>
                            <ul>
                                <li><a href="@Url.Content("~/NameSpaceConfiguration")" class="inactive">NameSpaces</a></li>
                                <li><a href="@Url.Content("~/ViewConfiguration")" class="inactive">Views</a></li>
                                <li><a href="@Url.Content("~/DimensionConfiguration")" class="inactive">Dimensions</a></li>
                                <li><a href="@Url.Content("~/MetaDataConfiguration")" class="inactive">Meta Data</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="icon-administration  inactive">Administration</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="neucms-content">
            <div class="neucms-container">
                @RenderBody()
            </div>
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
